# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
# git-lfs
# use git-lfs for assets by default...
/assets/** filter=lfs diff=lfs merge=lfs -text
# ... but not the import files
/assets/**/*.import -filter=lfs -diff=lfs -merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
/addons/terrain3d/bin/** filter=lfs diff=lfs merge=lfs -text
